<div class="login-wrapper">
  <div class="avatar">
    {{gravatar-image email=email alt="Avatar" size="100" defaultAvatar=defaultAvatar}}
  </div>

  <div class="title">Journey</div>

  <form class="form" {{action "login" on="submit"}}>
    {{input placeholder="Your email" value=email type="text" name="email" class="input"}}
    {{input placeholder="Your password" value=password type="password" name="password" class="input"}}
    <button class="blue-btn" type="submit" class="btn" {{bind-attr disabled="loginWaiting"}}>Log in</button>
    {{#if loginError}}<div class="error">{{loginError}}</div>{{/if}}
    {{#if loginWaiting}}<img class="waiting" src="img/preloader-horizontal-black.gif"/>{{/if}}
  </form>
</div>
